body{
  margin: 0%;
padding: 0%;
}
.nav{
    border-width: 1px;
    border-style:solid;
    border-color: black;
    display:flex;
    background-color: #8a2be28a;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  
  
}
#p1{
  width: 40%;
}
.nav1
{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
    
}
.image1
{display: flex;
  margin-right: 100;
  padding: 15px;
  justify-content: space-evenly;
  text-align: justify;
  align-items: center;

}
#h3:hover{
  background-color: rgb(148, 52, 212);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}
#h2{
  margin: 10px;
}
.skill{
  border-radius: 3px;
  background-color: #80808038;
}
#skillf{
  font: bold;
  background-color: #8a2be28a;
  margin: 0;
  padding: 5px;
  border-radius: 4px;
}
#sub{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
  font-style: italic;
 
}
li{
  padding: 10px;
}
.Education{
  background-color:#80808038 ;
  border-radius: 5px;
}
#Eduid{
  font: bold;
  background-color: #8a2be28a;
  margin: 0;
  padding: 5px;
  border-radius: 4px;

}
#Eduid1{
  display: flex;
  justify-content: space-between;
}
.Exp{
  background-color:#80808038 ;
  border-radius: 5px;
}
#Expid{
  
  background-color: #8a2be28a;
  margin: 0;
  padding: 5px;
  border-radius: 4px;
}
.contact{
  border-radius: 5px;
  background-color:#80808038 ;
}

.contact1{
 display: flex;
 justify-content: center;
 padding: 25px;
}
.pp1{
  display: flex;
  justify-content: center;
}
@media (max-width: 480px) {
  .nav{
    display: flex;
    flex-direction: column;
  } 
  .nav1{
    width: auto;
  } 
  .image1{
    display: flex;
    flex-direction: column;
  }
  #sub{
    display: flex;
    flex-direction: column;
  }
  #sub ul{
    display: flex;
    justify-content: space-between;
  }
  #Eduid1{
    display: flex;
    flex-direction: column;
  }
  .contact1{
    display: flex;
    flex-direction: column;
  }
  #p1{
    width: 90%;
  }
  #imgid{
    width: 45%;
  }
  body{
    margin: 0%;
    padding: 0%;
  }
  .contact1{
    width: 60%;
  }
  .pp1{
    display: flex;
    flex-direction: column;
  }
  }